<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.givitapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GivitApp">
        <activity
            android:name=".MapActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MyUploadActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity android:name=".chat.AuthenticationActivity"
            android:exported="true"

       <activity android:name=".chat.ChatActivity"
           android:exported="false"
        <activity
            android:name=".Home2Activity"
            android:exported="false" />
        <activity
            android:name=".UserItemViewActivity"
            android:exported="false" />
        <activity
            android:name=".RequestActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".UserAccountActivity"
            android:exported="false" />
        <activity
            android:name=".EditUploadActivity"
            android:exported="false" />
        <activity
            android:name=".UploadItemActivity"
            android:exported="false" />
        <activity
            android:name=".CategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".LandingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>